make_test_txt.py
__pycache__/
urls/
*.pyc
*swn
*.tex
*.ARW
*.JPG
*.csv
*.PNG
*.tiff
*.DNG
*.pyc
*.jpg
*.png
*.pkl
.DS_Store
*.json
*.swp
dump*/
LICENSE
*.mat
data/
models
dataset/
logs_tmp
._.DS_Store
check_dump/
tmp*
log*/
*.mat
save_*/
*.npy
